<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FetchMobamasPRA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FetchMobamasPRA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FetchMobamasPRA.Properties.Settings>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTPSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTPUserID" serializeAs="String">
                <value>UserID</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>cGFzc3dvcmQ=</value>
            </setting>
            <setting name="SMTPFrom" serializeAs="String">
                <value>from@mail.server.jp</value>
            </setting>
            <setting name="SMTPTo" serializeAs="String">
                <value>to@mail.server.jp</value>
            </setting>
            <setting name="SMTPDisplay" serializeAs="String">
                <value>差出人 表示名</value>
            </setting>
        </FetchMobamasPRA.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <FetchMobamasPRA.Properties.Settings>
      <setting name="SMTPServer" serializeAs="String">
        <value>mail.server.jp</value>
      </setting>
    </FetchMobamasPRA.Properties.Settings>
  </applicationSettings>
</configuration>